.navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: #004268;
  transition: all 0.3s ease;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}
.navbar{
  background-color: #002236;
}
.active{
  background-color: #004268;

}